@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,600;1,800;1,900&display=swap');

//variable
$primary-color: rgb(206, 39, 39);
$secondary-color: rgb(0, 0, 0);
$text-primary-color: white;

body{
    font-family: 'Poppins', sans-serif;
}

@mixin border($color, $width){
    border-bottom: $color solid $width;
}


#hero-part{
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 25% 25%;
    box-sizing: border-box;
}

.bighero{
    width: auto;
    height: 100vh;
    position: relative;
}

.box1 {
    grid-column: 1/2;
    grid-row: 1/3;
    // background-color: #ffccc8;
}

.box2 {
    grid-column: 2/3;
    grid-row: 1/2;

    #homehover {
        box-sizing: border-box;
        width: 25%;
        height: 50%;
        left: 50%;
        position: absolute;
        z-index: -1;
    }

    &:hover {
        #homehover {
            z-index: 1;
        }
    }
}


.box3 {
    grid-column: 3;
    grid-row: 1/2;

    #galleryhover {
        box-sizing: border-box;
        width: 25%;
        height: 50%;
        left: 75%;
        position: absolute;
        z-index: -1;
    }

    &:hover {
        #galleryhover {
            z-index: 1;
        }
    }
}


.box4 {
    grid-column: 2/3;
    grid-row: 2/4;

    #workhover {
        box-sizing: border-box;
        width: 25%;
        height: 50%;
        left: 50%;
        position: absolute;
        z-index: -1;
    }

    &:hover {
        #workhover {
            z-index: 1;
        }
    }
}


.box5 {
    grid-column: 3;
    grid-row: 2/4;

    #contacthover {
        box-sizing: border-box;
        width: 25%;
        height: 50%;
        left: 75%;
        position: absolute;
        z-index: -1;
    }

    &:hover {
        #contacthover {
            z-index: 1;
        }
    }
}

.bg1 {
    img {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}

.bg2 {
    img {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}

.container {
    height: 50vh;
    width: 100%;
    box-sizing: border-box;
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    padding: 20px;
    height: 50vh;
    box-sizing: border-box;
    background-color: $primary-color;
    color: $secondary-color;
    position: relative;

    &:nth-of-type(2n-1) {
        background-color: $secondary-color;
        color: $text-primary-color;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 8px;
    }

    h3 {
        font-size: 1em;
        margin-bottom: 16px;
    }

    p {
        font-size: 1em;
        margin-bottom: 70px;
        line-height: 150%;
        color: rgb(206, 206, 206);
    }
}

.textbox {
    box-sizing: border-box;
    padding: 5% 10%;
}

.button {
    position: absolute;
    padding: 5px;
    display: flex;
    width: 150px;
    height: 30px;
    background-color: $text-primary-color;
    color: $secondary-color;
    align-items: center;
    justify-content: center;
    bottom: 40px;
    right: 50px;
    border-radius: 30px;

    &:hover {
        background-color: $primary-color;
        color: $text-primary-color;
        cursor: pointer;
    }
}

.sec-card{
    @extend .card
}

.subtext {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    h3 {
        font-size: 3em;
        color: $text-primary-color;
        margin-top: 64px;
    }
}

.subtext2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    h3 {
        font-size: 1.2em;
        color: $secondary-color;
        margin-top: 16px;
    }
}

#gallery-part {
    height: 100%;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background: $text-primary-color;
    color: $secondary-color;
    
    h1{
        font-size: 3em;
        padding-left: 32px;
    }
}

#gallery-back{
    background-color: $text-primary-color;
    width: 100%;

    #gallery {
        margin: 0 auto;
        padding-top: 32px;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "pic1 pic2 pic3 pic4 pic5";
        grid-gap: 20px 60px;
        color: $secondary-color;
    
        .card2 {
            box-sizing: border-box;
            position: relative;
            display: flex;
            justify-content: center;
            box-shadow: 3px 4px 4px rgb(199, 199, 199);
            border-radius: 30px;
            
            img {
                border-radius: 30px;
                width: 100%;
                height: 100%;
                object-fit: cover;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}


.pic1{
    grid-area: pic1;
}
.pic2{
    grid-area: pic2;
}
.pic3{
    grid-area: pic3;
}
.pic4{
    grid-area: pic4;
}
.pic5{
    grid-area: pic5;
}

#describe-area {
    margin: 20px auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;

    h2 {
        font-size: 40px;
        width: 100%;
        text-align: center;
        padding-top: 50px;
        font-weight: bold;

        span{
            display: inline-block;

            &::after{
                display: block;
                content: '';
                @include border($secondary-color, 4px);
                // border-bottom: solid 4px $secondary-color;  
                transform: scaleX(0);  
                transition: transform 250ms ease-in-out;
                transform-origin: 100% 50%;
            }

            &:hover::after{
                background: none;
                transform: scaleX(1); transform-origin: 0% 50%;
            }
        }

        &:hover{
            cursor: pointer;
        }
        
    }

    p {
        font-size: 20px;
        width: 100%;
        color: rgb(73, 73, 73);
        text-align: center;
    }
}

#search {
    width: 100%;
    padding: 50px 10%;
    box-sizing: border-box;
    background: $primary-color;
    color: $text-primary-color;

    .search-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .text {
            h1 {
                display: flex;
                justify-content: flex-start;
                font-size: 2em;
                font-weight: lighter;
            }
        }

        .bar {
            position: relative;
            display: flex;
            width: 50%;
            height: 50%;
            align-self: center;
            justify-content: flex-end;
            padding-right: 50px;

            input {
                padding-left: 20px;
                width: 60%;
                font-size: 1.2em;
                background: #1c1b1b;
                border: 2px solid white;
                border-radius: 10px 0 0 10px;
                color: $text-primary-color;
            }

            .search-button {
                display: flex;
                align-self: center;
                justify-content: flex-end;
                background-color: $text-primary-color;
                color: $secondary-color;
                width: 120px;
                height: 45px;
                align-items: center;
                justify-content: center;
                font-size: 1.2em;
                font-weight: bold;
                border-radius: 0 10px 10px 0;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}
#con-three{
    background-color: $secondary-color;
    width: 100%;
    height: 60%;

    #part-three{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 64px 82px 40px 82px;
        align-items: center;

        .logo{
            width: 30%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-self: center;
            object-fit: cover;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }
    
        .text-partthree{
            color: $text-primary-color;
            padding: 16px 16px 16px 70px;

            h1{
                font-size: 3em;
                margin-bottom: 8px;
            }

            h3{
                font-size: 1.8em;
                margin-bottom: 32px;
            }

            p{
                font-size: 1.5em;
                font-weight: lighter;
                color: rgb(206, 206, 206);
            }
        }
    }
}

footer {
    width: 100%;
    padding: 50px 15%;
    box-sizing: border-box;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: $secondary-color;
    color: $text-primary-color;

    .footer1 {
        width: 25%;

        h1{
            font-size: 3em;
            font-weight: bold;
            font-style: italic;
            margin-bottom: 16px;
        }

        p{
            line-height: 150%;
        }
    }

    .footer2 {
        padding-left: 10%;
        box-sizing: border-box;
        width: 25%;

        h1{
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 24px;
        }

        ul{
            li{
                font-size: 1.2em;
                margin-bottom: 28px;

                span{
                    display: inline-block;

                    &::after{
                        display: block;
                        content: '';
                        @include border($primary-color, 4px);
                        // border-bottom: solid 4px $primary-color;  
                        transform: scaleX(0);  
                        transition: transform 250ms ease-in-out;
                        transform-origin: 100% 50%;
                    }

                    &:hover::after{
                        background: none;
                        transform: scaleX(1); transform-origin: 0% 50%;
                    }
                }

                &:hover{
                    color: $primary-color;
                    cursor: pointer;
                }
            }
        }
    }

    .footer3 {
        padding-left: 10%;
        box-sizing: border-box;
        width: 25%;

        h1{
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 24px;
        }

        ul{
            li{
                font-size: 1.2em;
                margin-bottom: 28px;

                span{
                    display: inline-block;

                    &::after{
                        display: block;
                        content: '';
                        @include border($primary-color, 4px);
                        // border-bottom: solid 4px $primary-color;  
                        transform: scaleX(0);  
                        transition: transform 250ms ease-in-out;
                        transform-origin: 100% 50%;
                    }

                    &:hover::after{
                        background: none;
                        transform: scaleX(1); transform-origin: 0% 50%;
                    }
                }
                
                &:hover{
                    color: $primary-color;
                    cursor: pointer;
                }
            }
        }
    }

    .footer4 {
        display: flex;
        justify-content: space-between;
        width: 25%;

        i{
            &:hover{
                color: $primary-color;
                cursor: pointer;
            }
        }
    }
}

@media (max-width:1200px) {
    #hero-part {
        grid-template-columns: 100%;
        grid-template-rows: 100%;
    }

    .smallhero {
        display: none;
    }

    .bighero {
        h1 {
            left: 25%;
            right: 25%;
            height: 5rem;
            padding-top: 4%;
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    .grid-box {
        display: grid;
        grid-template-columns: 1fr;
    }

    .card {
        &:nth-of-type(2n-1) {
            display: none;
        }
    }

    .sec-card{
        h1{
            font-size: 3.5em;
        }

        h3{
            font-size: 1.5em;
        }

        .subtext{
            h3{
                font-size: 3em;
            }
        }
    }

    #gallery-part{
        text-align: center;
        padding-left: 0;
    }

    #gallery-back {
        display: block;
        #gallery{
            display: flex;
            flex-direction: column;
            padding-bottom: 64px;
            
            h2{
                margin-bottom: 16px;
            }
            p{
                font-size: 2em;
            }
        }
    }

    #con-three {
        .logo {
            width: auto;
            margin: 0 auto;
            justify-content: center;
        }

        .text-partthree {
            display: none;
        }
    }

    #search {
        .search-box {
            justify-content: center;
            .text {
                h1 {
                    display: none;
                }
            }

            .bar {
                width: 80%;
            }
        }
    }

    footer{
        height: 15vh;
    }

    .footer1 {
        display: none;
    }

    .footer2 {
        display: none;
    }

    .footer3 {
        display: none;
    }

    footer {
        .footer4 {
            width: 100%;
        }
    }
}



